---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "2014 - 2025",
    title: "Regional Webmaster",
    company: "DIVECO, S.A.",
    description:
      "I lead the team, development, and implementation of 16+ e-commerce platforms across Central America, covering end-to-end including UX/UI. Management and maintenance of Amazon servers across three environments Development, QA, and Production. Founded and structured in-house e-commerce department from ground up.",
  },
  {
    date: "2013 - 2014",
    title: "Webmaster",
    company: "TAG AIRLINES",
    description:
      "Designed and created a web-based airline ticketing platform. Developed a platform for aerial tickets price quoting. Connected digital platforms to analytics and performance measurement tools to track KPIs and optimize results through data-driven insights.",
  },
  {
    date: "2008 - 2012",
    title: "Regional Web Coordinator",
    company: "AQUACORP",

    description:
      "Created and maintained brand websites tailored to local markets. Managed project execution teams and third-party providers in USA, Central and South America.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Work" textGradient="Experience" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
